-i https://pypi.tuna.tsinghua.edu.cn/simple

sqlalchemy~=2.0.32
pydantic~=2.8.2
uvicorn~=0.30.5
fastapi~=0.112.0
psycopg2-binary~=2.9.9
requests~=2.32.3
python-dotenv~=0.21.0
sqlmodel~=0.0.21
alembic~=1.13.2